<!DOCTYPE html>
<html>
    <head>
        <title>ClassRank</title>
        {% include "head.html" %}
        <link rel="stylesheet" type="text/css" href="/static/splash.css">
    </head>
    <body>
        <div id="container" class="pure-g">
            {% include "sidebar.html" %}
            <div id="main" class="pure-u-md-18-24 pure-u-lg-18-24 pure-u-xl-18-24">
                <h2>Welcome </h2>
                <p>Alright, so lets add something to the database.  For now, just add a school, that should be easy enough.
                <form class="pure-form" action="adminpanel" method="post">
                    <input type="text" name="school_name" placeholder="School Name">
                    <input type="text" name="school_short" placeholder="School Abbreviation">
                    <button type="submit" class="pure-button pure-button-primary">Lets Get it Started!</button>
                </form>
                <h2>Schools</h2>
                    <table class="pure-table pure-table-bordered">
                    <thead><th>school id</th><th>School Name</th><th>School Abbreviation</th><th>Users</th><th>Courses</th></thead>
                    {% for school in schools %}
                        <tr><td>{{school.school_id}}</td><td>{{school.school_name}}</td><td>{{school.school_short}}</td></tr>
                    {% end for %}
                    </table>
                <h2>Users</h2>
                    <table class="pure-table pure-table-bordered">
                        <thead><th>User id</th><th>School id</th><th>Username</th><th>Email address</th><th>Mod?</th><th>Admin?</th></thead>
                        {%for otheruser in users %}
                            <tr><td>{{otheruser.user_id}}</td>
                                <td>{{otheruser.school_id}}</td>
                                <td>{{otheruser.user_name}}</td>
                                <td>{{otheruser.email_address}}</td>
                                <td style="background-color:{{'#78e700' if otheruser.moderator else '#e70005'}}">
                                    <a href="/api/toggle/moderator/{{otheruser.user_id}}">
                                        {{otheruser.moderator}}
                                    </a>
                                </td>
                                <td style="background-color:{{'#78e700' if otheruser.admin else '#e70005'}}">
                                    <a href="/api/toggle/admin/{{otheruser.user_id}}">
                                        {{otheruser.admin}}
                                    </a>
                                </td>
                                    </tr>
                        {% end for %}
                    </table>
            </div>
            </div>
        </div>
    </body>
</html>