<!DOCTYPE html>
<html>
    <head>
        <title>ClassRank</title>
        {% include "head.html" %}
        <link rel="stylesheet" type="text/css" href="/static/site.css">
    </head>
    <body>
        <div id="container" class="pure-g">
            {% include "sidebar.html" %}
            <div id="main" class="pure-u-md-18-24 pure-u-lg-18-24 pure-u-xl-18-24">
                <p>Alright, so lets add something to the database.  For now, just add a school, that should be easy enough.
                <form class="pure-form" action="adminpanel" method="post">
                    <input type="text" name="school_name" placeholder="School Name">
                    <input type="text" name="school_short" placeholder="School Abbreviation">
                    <button type="submit" class="pure-button pure-button-primary">Lets Get it Started!</button>
                </form>
                <h2>Schools</h2>
                    <table class="pure-table pure-table-bordered">
                    <thead><th>school id</th><th>School Name</th><th>School Abbreviation</th></thead>
                    {% for school in schools %}
                        <tr><td>{{school.school_id}}</td><td>{{school.school_name}}</td><td>{{school.school_short}}</td></tr>
                    {% end for %}
                    </table>
                <h2>Users</h2>
                    <table class="pure-table pure-table-bordered">
                        <thead><th>User id</th><th>Username</th><th>Email address</th></thead>
                        {%for user in users %}
                            <tr><td>{{user.user_id}}</td><td>{{user.user_name}}</td><td>{{user.email_address}}</td></tr>
                        {% end for %}
                    </table>
            </div>
        </div>
    </body>
</html>