<!DOCTYPE html>
<html>
    <head>
        <title>ClassRank</title>
        {% include "head.html" %}
        <link rel="stylesheet" type="text/css" href="/static/splash.css">
        <script type="text/javascript">
            function addForm(clickEvent){
                var row = clickEvent.target.parentNode.parentNode;
                row.innerHTML = "<form class='pure-form'><input type='number' placeholder='Grade'><input type='number' placeholder='Difficulty'><input type='number' placeholder='Rating'><button type='submit' class='pure-button pure-button-primary'>Lets Get it Started!</button></form>";
            }
        </script>
    </head>
    <body>
        <div id="container" class="pure-g">
            {% include "sidebar.html" %}
            <div id="main" class="pure-u-md-18-24 pure-u-lg-18-24 pure-u-xl-18-24">
                <h2>Welcome </h2>
                <h2>Your Courses</h2>
                <table class="pure-table pure-table-bordered">
                    <thead><th>Course id</th><th>Course name</th><th>Identifier</th><th>Semester</th><th>Year</th><th>Professor</th></thead>
                    {% for course in your_courses %}
                    <tr><td>{{course.course_id}}</td>
                        <td>{{course.course_name}}</td>
                        <td>{{course.identifier}}</td>
                        <td>{{course.semester or "??"}}</td>
                        <td>{{course.year or "??"}}</td>
                        <td>{{course.professor or "??"}}</td>
                    </tr>
                    {% end for %}
                </table>
                <h2>Availible Courses</h2>
                <table class="pure-table pure-table-bordered">
                    <thead><th>Course id</th><th>Course name</th><th>Identifier</th><th>Semester</th><th>Year</th><th>Professor</th><th>Rate</th></thead>
                    {% for course in school_courses %}
                    <tr><td>{{course.course_id}}</td>
                        <td>{{course.course_name}}</td>
                        <td>{{course.identifier}}</td>
                        <td>{{course.semester or "??"}}</td>
                        <td>{{course.year or "??"}}</td>
                        <td>{{course.professor or "??"}}</td>
                        <td><a href="javascript:void(0);" onclick="addForm(event)">::symbol::</a></td>
                    </tr>
                    {% end for %}
                </table>
            </div>
        </div>
    </body>
</html>